* {
    padding: 0;
    margin: 0;
}
body{
   background-color: #4e1109; 
}
.container2 .text{
    text-align: center;
}
.container2 .text span{
    z-index: 8;
    position: absolute;
    top: 90px;
    left: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    white-space: nowrap;
    font-family: 'Monoton', cursive;
    animation: text 3s infinite;
}
@keyframes text{
    0%, 40%, 42%, 44% {
        color: #222;
        text-shadow: -3px 0px 5px #222, 0px 0px 2px #222
    }
    41%, 43%, 45%, 100%{
        color: #fff;
        text-shadow: -3px 0px 5px #fff, 0px 0px 2px #fff
    }
}
.container2 .waibukuang{
    position: absolute;
    width: 1400px;
    height: 650px;
    background-color: transparent;
    border: dashed 4px #fff;
    margin-left: 14px;
    margin-top: 20px;

}
.container2 .neibukuang{
    position: absolute;
    width: 1380px;
    height: 630px;
    background-color: transparent;
    border: dashed 4px #fff;
    margin-left: 24px;
    margin-top: 30px;
}
.container2 .img678{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 700px;
    height: auto;
    top: 380px;
    left: 110px;
}
.container2 .img678 .img6 img{
    width: 100px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #111);
    animation: rotate 3s infinite ease-in-out;
}
.container2 .img678 .img6 img:hover{
    animation-play-state: paused;
    opacity: 70%;
}
.container2 .img678 .img7 img{
    width: 100px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #111);
    animation: rotate 3s infinite ease-in-out;
}
.container2 .img678 .img7 img:hover{
    animation-play-state: paused;
    opacity: 70%;
}
.container2 .img678 .img8 img{
    width: 100px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #111);
    animation: rotate 3s infinite ease-in-out;
}
.container2 .img678 .img8 img:hover{
    animation-play-state: paused;
    opacity: 70%;
}
@keyframes rotate{
    0%{
        transform: rotate(-10deg)
    }
    25%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(10deg)
    }
    75%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(-10deg)
    }
}

.container .img5{
    width: 390px;
    height: 480px;
    position: absolute;
    top: -13px;
}
.container .img5 img{
    width: 100%;
    height: auto;
    filter: drop-shadow(15px 20px 15px #111);
}
.container .machinemainbody .img2{
    position: absolute;
    width: 100px;
    height: 190px;
    margin-left: 280px;
    margin-top: 10px;
    z-index: 10;
}
.container .machinemainbody .img2 img{
    width: auto;
    height: 100%; 
}
.container .machinemainbody .img3{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 270px;
    margin-top: 5px;
    z-index: 9;
}
.container .machinemainbody .img3 img{
    width: auto;
    height: 100%; 
}
.container .anniu a{
    position: absolute;
    width: 55px;
    height: 15px;
    border-radius: 30px;
    border: transparent;
    margin-top: 320px;
    margin-left: 260px;
    border: solid 4px rgb(61, 60, 48) ;
    background-color: rgb(37, 37, 29);
    cursor: pointer
}
.container .anniu a:hover{
    opacity: 80%;
}
.container .machinemainbody .jisuanpan{
    position: absolute;
    width: 50px;
    height: 80px;
    margin-top: 220px;
    margin-left: 263px;
    border-radius: 5px;
    border: solid 3px rgb(61, 60, 48)  ;
    background-color: rgb(37, 37, 29) ;
    z-index: 12;
}
.container .machinemainbody .jisuanpan img{
    margin-top: 7px;
    margin-left: 6px;
    width: auto;
    height: 85%;
    opacity: 80%;
}
.container{
    width: 390px;
    height: 480px;
    position: relative;
    left: 900px;
    top: 115px;

}
.container .machinemainbody{
    position: relative;
    width: 340px;
    height: 450px;
    border-radius: 10px;
    border-color: #111;
    border-width: 3px;
    border-style: solid;
    background-color: rgb(134, 131, 106);
    margin: 0 auto;
    z-index: 9;
}
.container .machinemainbody .machinebody{
    background-color: rgb(230, 212, 177);
    width: 240px;
    height: 450px;
    border-radius: 6px;
    border-right: 3px solid #111;
    border-top: transparent;
    border-left: transparent;
    border-bottom: transparent;
    position: absolute;
}
.container .machinemainbody .machinebody .yinliaoqu{
    background-color: rgb(134, 131, 106);
    width: 200px;
    height: 235px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 10px;
    border: solid 2px #111;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan1{
    position: absolute;
    background-color: rgb(230, 212, 177);
    width: 200px;
    height: 12px;
    margin-top: 95px;
    border-top: solid 2px #111;
    border-bottom: solid 2px #111;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan2{
    position: absolute;
    background-color: rgb(230, 212, 177);
    width: 200px;
    height: 12px;
    margin-top: 190px;
    border-top: solid 2px #111;
    border-bottom: solid 2px #111;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan1 .jiweix4{
    display: flex;
    justify-content: space-around;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan1 .jiweix4 .jiwei1{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan1 .jiweix4 .jiwei2{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan1 .jiweix4 .jiwei3{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan1 .jiweix4 .jiwei4{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan2 .jiweix42{
    display: flex;
    justify-content: space-around;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan2 .jiweix42 .jiwei5{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan2 .jiweix42 .jiwei6{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan2 .jiweix42 .jiwei7{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .yinliaoqu .yinliaolan2 .jiweix42 .jiwei8{
    background-color: #111;
    width: 16px;
    height: 8px;
    border-radius: 20px;
    margin-top: 2px;
}
.container .machinemainbody .machinebody .zhuangshikou{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100px;
    height: 60px;
    margin-top: 12px;
    margin-left: 16px;
}
.container .machinemainbody .machinebody .zhuangshikou img{
    width: auto;
    height: 100%;
    border: #111 solid 2px;
    border-radius: 12px;
}
.container .machinemainbody .machinebody .yinliaokou{
    background-color: rgb(43, 46, 40);
    width: 185px;
    height: 55px;
    margin-top: 16px;
    margin-left: 18px;
    border-radius: 3px;
    border: solid 2px rgb(13, 14, 12);
}
.container .machinemainbody .machinebody .yinliaokou .yinliaokoushang{
    background-color: rgb(61, 60, 48);
    width: 185px;
    height: 15px;
    border-radius: 3px;
}
.container .machinemainbody .machinebody .yinliaokou .yinliaokoushang .triangledown{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid rgb(163, 142, 109);
    margin-left: 77.5px;
    opacity: 70%;
}
.container .machinemainbody .machinebody .yinliaokou .yinliaokoushang .Getithere{
    font-family: neue-kabel, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: rgb(15, 13, 13);
    margin-top: 50px;
}
.container .machinemainbody .machinebody .xianduan2{
    background-color: #111;
    width: 240px;
    height: 4px;
    margin-top: 20px;
}
.container .machinemainbody .jiqidibu{
    position: relative;
    background-color: #111;
    width: 275px;
    height: 11px;
    top: 450px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    z-index: 11;
}