* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #4e1109;
}
.container1{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    position: fixed;
    _position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    white-space: nowrap;
    align-items: center;
}
.container1 .img6 img{
    width: 70px;
    height: auto;
}
.container2{
    color: white;
}