* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
}
.container1{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    position: fixed;
    _position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    white-space: nowrap;
    align-items: center;
}
.container1 .img6 img{
    width: 40px;
    height: auto;
}
.topredmargin{
    width: 1200px;
    height: 80px;
    background-color: #4e1109;
    margin: 0 auto;
}
.container2{
    position: relative;
    top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    white-space: nowrap;
}  
.container2 .img9{
    display: flex;
    justify-content: center;
}
.container2 .img9 img:hover{
    animation: xuanzhuan 2s infinite linear;
}
@keyframes xuanzhuan{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container2 .img9 img{
    width: auto;
    height: 100px;
}
.container2 .title{
    text-align: center;
    font-size: 55px;
    font-family: 'Righteous', cursive;
    margin-top: 40px;
}
.container2 .title:hover{
    color: #4e1109;
}
.container2 .xuyan{
    text-align: center;
    margin-top: 40px;
    color: #4e1109;
    font-family: 'Arapey', serif;
}
.container2 .hengxian{
    width: 200px;
    height: 2px;
    position: relative;
    top: 30px;
    background-color: #4e1109;
    border-radius: 30px;
    margin: 0 auto;
    opacity: 50%;
}
.container2 .xuyan2{
    font-family: 'Arapey', serif;
    margin-top: 45px;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    text-align: center;
    opacity: 50%;
}
.container3{
    position: relative;
    top: 70px;
    width: 46%;
    height: 300px;
    margin: 0 auto;
}
.paragraph1{
    border-top: 20px transparent solid;
    padding: 20px;
}
.paragraph1 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.paragraph2{
    border-top: 50px transparent solid;
    padding: 20px;
}
.paragraph2 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.paragraph3{
    border-top: 30px transparent solid;
    padding: 20px;
}
.paragraph3 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #4e1109;
}
.paragraph4{
    border-top: 30px transparent solid;
    padding: 20px;
}
.paragraph4 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.paragraph5{
    border-top: 50px transparent solid;
    padding: 20px;
}
.paragraph5 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.paragraph6{
    border-top: 50px transparent solid;
    padding: 20px;
}
.paragraph6 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.paragraph7{
    border-top: 30px transparent solid;
    padding: 20px;
}
.paragraph7 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #4e1109;
}
.paragraph8{
    border-top: 30px transparent solid;
    padding: 20px;
}
.paragraph8 p{
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.xuyan3{
    position: relative;
    top: 85px;
    text-align: center;
    color: #4e1109;
    font-family: 'Arapey', serif;
}
.hengxian2{
    width: 200px;
    height: 2px;
    position: relative;
    top: 60px;
    background-color: #4e1109;
    border-radius: 30px;
    margin: 0 auto;
    opacity: 50%;
}
.dibu{
    width: 100%;
    height: 300px;
    background-color: transparent;
}
.container4{
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: center;
}
.container4 .jiantouleft img{
    position: fixed;
    top: 380px;
    left: 20px;
    width: 50px;
    height: auto;
}
.container4 .jiantouleft img:hover{
    opacity: 80%;
    width: 45px;
    height: auto;
}
.container4 .jiantouright img{
    position: fixed;
    top: 380px;
    right: 20px;
    width: 50px;
    height: auto;
}
.container4 .jiantouright img:hover{
    opacity: 80%;
    width: 45px;
    height: auto;
}
.container5, .nav, .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    position: absolute;
    top: 1px;
    left: 130px;
    background-color: transparent;
    padding: 20px;
    transform: 0.5s;
    overflow: hidden;
    border-radius: 50px;
}
.menu{
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}
.nav input:checked ~ .menu{
    width: 300px;
}
.menu li{
    list-style: none;
    margin: 0 10px;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    white-space: nowrap;
}
.menu li a:hover{
    opacity: 60%;
}
.nav input{
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}
.nav span{
    position: absolute;
    left: 25px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.nav input:checked ~span{
    background-color: #fff;
}
.nav span:nth-child(2){
    transform: translateY(-8px);
}
.nav input:checked ~ span:nth-child(2){
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3){
    transform: translateY(8px);
}
.nav input:checked ~ span:nth-child(3){
    transform: translateY(0) rotate(45deg);
}
